.thumbnail {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.thumbnail {
    display: block;
    position: relative;
}

.thumbnail2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.thumbnail2 {
    display: block;
    margin: 0 0;
    position: relative;
}

.thumbnail3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.thumbnail3 {
    display: block;
    margin: 0 0;
    position: relative;
}

.thumbnail4 {
    display: block;
    
}

span.text-content span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
}

span.text-content2 span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
}

span.text-content3 span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
}

span.text-content {
    background: rgba(255, 255, 255, 1);
    color: black;
    cursor: crosshair;
    display: table;
    height: 490px;
    left: 0;
    position: absolute;
    top: 0;
    width: 490px;
    opacity: 0;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

span.text-content2 {
    background: rgba(255, 255, 255, 1);
    color: black;
    cursor: crosshair;
    display: table;
    height: 995px;
    left: 0;
    position: absolute;
    top: 0;
    width: 490px;
    opacity: 0;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

span.text-content3 {
    background: rgba(255, 255, 255, 1);
    color: black;
    cursor: crosshair;
    display: table;
    height: 468px;
    left: 0;
    position: absolute;
    top: 0;
    width: 990px;
    opacity: 0;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.thumbnail:hover span.text-content {
    opacity: 1;
}

.thumbnail2:hover span.text-content2 {
    opacity: 1;
}

.thumbnail3:hover span.text-content3 {
    opacity: 1;
}

#related {
-webkit-transition: 0.4s ease;
 transition: 0.4s ease;
    
 
}

#related:hover {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
