 .box {
     width: 200px;
     height: 200px;
     position: fixed;
     text-align: center;
     right: 0;
     background-color: beige;
 }
 
 #bar1 {
     position: absolute;
     right: 13px;
     top: 10px;
     opacity: 1;
 }
 
 #bar1:hover {
     opacity: 0.4;
 }
 
 #bar2 {
     position: absolute;
     left: 5px;
     top: 10px;
     opacity: 1;
 }
 
 #bar2:hover {
     opacity: 0.6;
 }
 
 #bar3 {
     position: absolute;
     right: 28px;
     top: 20px;
     opacity: 1;
 }
 
 #bar3:hover {
     opacity: 0.6;
 }
 
 #bar4 {
     float: right;
     padding-right: 20px;
     opacity: 0.4;
 }
 
 #bar4:hover {
     opacity: 1;
 }
 
 #bar5 {
     float: left;
     padding-right: 25px;
     padding-top: 15px;
     opacity: 1;
 }
 
 #bar5:hover {
     opacity: 0.6;
 }
 
 .nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 9999;
     width: 100%;
     height: 20px;
 }
 
 .footer {
     border-top: 1px solid gray;
     padding-bottom: 0px;
 }
 
 #mail {
     text-align: right;
 }
 
 #padding {
     padding-top: 50px;
 }
 
 .center {
     text-align: center;
     margin: 0 auto;
 }
 
 .foot {
     position: fixed;
     top: 720px;
     left: 0;
     right: 0;
     z-index: 9999;
     width: 100%;
     height: 50px;
 }
 
 .foot1 {
     position: absolute;
     right: 13px;
     top: 20px;
     opacity: 1;
 }
 
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .prototype {
     position: relative;
     top: 0px;
     z-index: -1;
 }
 
 .m {
     position: relative;
     left: 360px;
     top: -600px;
     z-index: 3;
     width: 270px;
     height: 480px;
     overflow: scroll;
 }
 
 .up {
     position: relative;
     top: -460px;
     z-index: 1;
 }
